.chat{
    width: 100vw;
    max-width: 700px;
    margin: 0 auto;
    .req{
        max-width: 70%;
        width: fit-content;
        align-items: flex-start;
        min-width: 30%;
        margin: 5px 17px;
        margin-left: 100%;
        float: right;
        position: relative;
        animation: showme 0.3s forwards;
        display: flex;
        flex-direction: column;
        padding: 5px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border: 1px solid rgba(255, 255, 255, 0.5);
        .topcontnet{
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: bold;
            font-size: 13px;
            margin-bottom: 2px;
            .icon{
                width: 15px;
                height: 15px;
            }
        }
    }
    .present{
        max-width: 70%;
        align-items: flex-start;
        min-width: 30%;
        margin: 5px 17px;
        margin-right: 100%;
        width: auto;
        float: left;
        position: relative;
        animation: show 0.3s forwards;
        display: flex;
        flex-direction: column;
        padding: 5px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border: 1px solid rgba(255, 255, 255, 0.5);
        .topcontnet{
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: bold;
            font-size: 13px;
            margin-bottom: 2px;
            width: 100%;
            justify-content: flex-end;
            .icon{
                width: 15px;
                height: 15px;
            }
        }
        .contnet{
            font-size: 20px;
            font-weight: bold;
        }
    }
    .res{
    width: 75%;
    align-items: flex-start;
    margin: 5px 17px;
    float: left;
    position: relative;
    animation: show 0.3s  forwards;
    scale: 0;
    opacity: 0;
    transform: translateX(-100%);
    .chatimage{
        position: relative;

        display: flex;
        flex-direction: column;
        padding: 4px;
        border-radius: 10px;
        overflow: auto;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border: 1px solid rgba(255, 255, 255, 0.5);
        .topcontnet{
            display: flex;
            align-items: center;
            gap: 5px;
            justify-content: flex-end;
            font-weight: bold;
            font-size: 13px;
            margin-bottom: 2px;
            .icon{
                width: 15px;
                height: 15px;
            }
        }
        img{
            width: 100%;
            height: auto; 
            border-radius: 10px;
       
        }
      
  
    
    }
    .download{
        padding: 0;
        margin: -35px auto 10px auto;
        color: white;
        width: 50%;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.6);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border: 1px solid rgba(255, 255, 255, 0.5);
        }  
}
}

@keyframes show {
    0% {
        scale: 0;
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
      scale: 1;
      opacity: 1;
      transform: translateX(0);

    }
  
  
  }
  @keyframes showme {
    0% {
        scale: 0;
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
      scale: 1;
      opacity: 1;
      transform: translateX(0);

    }
  
  
  }
  


  @media screen and (min-width:764px) {
  .chat{
  }
}